@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Gabarito:wght@500&family=Lato&family=Mukta:wght@600&family=MuseoModerno:wght@600&family=Open+Sans&family=PT+Sans:wght@700&family=Pixelify+Sans:wght@600&family=Poppins:wght@500&family=REM:wght@300&family=Roboto+Condensed&family=Roboto+Slab&family=Tilt+Neon&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Poppins', sans-serif;
}

.indexbody{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, 1fr);
}

#logo-img {
    Grid-row: 1;
    Grid-column: 1;
    width: 10px;
}

.nav-list {
    Grid-row: 1;
    Grid-column: 2/5;
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-list li {
    margin-right: 20px;
}


.guestbody{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
#logo-img {
    width: 150px;
}



